<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= category %> Products</h1>
    <a href="/products/create"><button>Add Product</button></a>
    <% if(category !== "All") {%>
        <a href="/products"><button>All Product</button></a>
    <% } %>
    <ul>
        <% for(let product of products) {%>
        <li><%= product.name %> - <%= product.brand %> <a href="/products/<%= product._id %>"><button>Detail</button></a></li>
        <% } %>
    </ul>
</body>
</html>