<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garment</title>
</head>
<body>
    <h1>Garment</h1>
    <h5><%= message %></h5>
    <br>
    <a href="/garments/create"><button>Add Garment</button></a>
    <ul>
        <% for(let garment of garments) {%>
        <li><%= garment.name %> - <%= garment.brand %> <a href="/garments/<%= garment._id %>"><button>Detail</button></a></li>
        <% } %>
    </ul>
</body>
</html>